.chat-main
  .main-header
    .main-header-top
      .main-header-top__group
        = @group.name
      .main-header-top__member 
        Member :
        - @group.users.each do |user| 
          = user.name
    .main-header-edit
      = link_to edit_group_path(@group.id), class: "main-header-edit__btn"  do
        Edit

  .main-center
    = render @messages

  .main-bottom
    .bottom-btn
      = form_for [@group, @message] do |f|
        .bottom-form-box
          = f.text_field :content, class: 'bottom-form-box__text', placeholder: 'type a message'
          = f.label :image, class: 'bottom-form-box__image' do
            = icon('fas', 'image', class: 'bottom-form-box__icon')
            = f.file_field :image, class: 'bottom-form-box__file'
        = f.submit 'Send', class: 'bottom-form-send'