.sidebar
  .header
    .sidebar-header
      .sidebar-header__user
        = current_user.name
      %ul.sidebar-header__icons
      %li.sidebar-header__list
      = link_to "#" , class: "sidebar-header__btn" do
        = icon('fas', 'pen-square', class: 'icon')
      %li.sidebar-header__list
      = link_to edit_user_path(current_user) ,class: "sidebar-header__btn" do
        = icon('fas', 'cog', class: 'icon')
  .groups
    .groups-content
      .groups-content__group
        teckcamp
      .groups-content__message
        まだメッセージがありません
    .groups-content
      .groups-content__group
        teckexpert
      .groups-content__message
        まだメッセージがありません